<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Warsztaty językowe AIESEC University{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header col-md-1">
            <a class="navbar-brand" href="/">
                <img alt="Brand" src="{{ asset('img/logo-black.png') }}" style="height:30px">
            </a>
        </div>
        <ul class="nav navbar-nav col-md-2">
            <li>
                <p class="navbar-text">
                    <a class="navbar-title nav-link" href="/">Warsztaty językowe</a>
                </p>
            </li>
        </ul>
        <div class="col-md-9">
            <ul class="nav navbar-nav navbar-right">
                <li id="sign_up_menu"><a class="nav-link" href="/sign-up">ZAPISZ SIĘ</a></li>
                <li><a class="nav-link" href="/schedule">HARMONOGRAM</a></li>
                <li><a class="nav-link" href="/pricelist">CENNIK</a></li>
                <li><a class="nav-link" href="/about">O WARSZTATACH</a></li>
                <li><a class="nav-link" href="/partners">PARTNERZY</a></li>
                <li><a class="nav-link" href="/contact">KONTAKT</a></li>
                <li><a href="https://www.facebook.com/lckrakow" target="_blank"><img src="{{ asset('img/FB-f-Logo__blue_100.png') }}" style="height: 20px;" /></a></li>
                <li><style>.ig-b- { display: inline-block; }
                    .ig-b- img { visibility: hidden; }
                    .ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
                    .ig-b-32 { width: 32px; height: 32px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-32.png) no-repeat 0 0; }
                    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
                        .ig-b-32 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-32@2x.png); background-size: 60px 178px; } }</style>
                <a id="instagram_badge" href="https://www.instagram.com/aiesecuniversity/?ref=badge" class="ig-b- ig-b-32"><img src="//badges.instagram.com/static/images/ig-badge-32.png" alt="Instagram" /></a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}
<div class="content-container"> {% block body %}{% endblock %} </div>
<footer>
    {% block footer %}
        <div class="footer container fontface">
            <h4 style="color: black;">Nasi partnerzy</h4>
            <div class="row">
                <div class="col-md-3">
                    <a href="http://www.soul.edu.pl/" target="_blank"><img style="max-height: 50px;" src="{{ asset('img/partners/SOUL.png') }}" />></a>
                    <a href="http://www.nova.edu.pl" target="_blank"><img style="max-height: 50px;" src="{{ asset('img/partners/NOVA.png') }}" /></a>
                </div>
                <!-- middle partners column -->
                <div class="col-md-6 text-center">

                    <!-- first row of partners -->
                    <!-- <div class="row"> -->
                    <div class="col-md-12">
                        <div class="col-md-2 col-xs-6">
                            <a href="#"><img class="footer-partners" src="img/partners/logo_hr.jpg"  /></a>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <a href="#"><img class="footer-partners" src="img/partners/logo_laserpark.jpg" /></a>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <a href="#"><img class="footer-partners" src="img/partners/logo_ln.jpg" /></a>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <a href="#"><img class="footer-partners" src="img/partners/logo_cupcake.jpg" /></a>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <a href="#"><img class="footer-partners" src="img/partners/parkwodny.jpg" /></a>
                        </div>
                    </div>

                </div>

                <div class="col-md-3">

                    <a href="http://aiesec.pl/" target="_blank"><img class="footer-logo" src="img/powered-by-aiesec.png" />  </a>
                </div>
            </div>
        </div>
    {%  endblock %}
</footer>
            {% block javascripts %}
                <script src="{{ asset('js/bootstrap.min.js') }}"></script>
                <script src="{{ asset('js/custom.js') }}"></script>
                <script src="{{ asset('js/schedule.js') }}"></script>
                <script   src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"   integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="   crossorigin="anonymous"></script>
            {% endblock %}
</body>
</html>