<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Warsztaty językowe AIESEC University{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img alt="Brand" src="{{ asset('img/logo-black-small.png') }}" style="height:30px">
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <p class="navbar-text">
                    <a class="navbar-title nav-link" href="/">Warsztaty językowe</a>
                </p>
            </li>
        </ul>
        <div class="container">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="nav-link" href="/sign-up">ZAPISZ SIĘ</a></li>
                <li><a class="nav-link" href="/schedule">HARMONOGRAM</a></li>
                <li><a class="nav-link" href="/news">AKTUALNOŚCI</a></li>
                <li><a class="nav-link" href="/pricelist">CENNIK</a></li>
                <li><a class="nav-link" href="/about">O WARSZTATACH</a></li>
                <li><a class="nav-link" href="/partners">PARTNERZY</a></li>
                <li><a class="nav-link" href="/contact">KONTAKT</a></li>
                <li><a href="https://www.facebook.com/lckrakow" target="_blank"><img src="{{ asset('img/FB-f-Logo__blue_100.png') }}" style="height: 20px;" /></a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
<div class="content-container"> {% block body %}{% endblock %} </div>
{% block footer %}
<div class="footer bottom fontface">
    <h4 style="color: black;">Nasi partnerzy</h4>
    <div class="row">
        <div class="col-md-3">
            <a href="http://www.soul.edu.pl/" target="_blank"><img style="max-height: 50px;" src="{{ asset('img/partners/soul-logo.jpg') }}" /><span style="color: darkblue;">Szkoła językowa SOUL</span></a>
        </div>
        <!-- middle partners column -->
        <div class="col-md-6 text-center">
            <!-- first row of partners -->
            <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2 col-xs-6">
                            <a href="#"><img class="footer-partners" src="{{ asset('img/partners/cinnabon.png') }}" /></a>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <a href="#"><img class="footer-partners" src="{{ asset('img/partners/atlanticsports.png') }}" /></a>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <a href="#"><img class="footer-partners" src="{{ asset('img/partners/interbook.jpg') }}" /></a>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <a href="#"><img class="footer-partners" src="{{ asset('img/partners/cukier.png') }}" /></a>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <a href="#"><img class="footer-partners" src="{{ asset('img/partners/dagrasso.png') }}" /></a>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <a href="#"><img class="footer-partners" src="{{ asset('img/partners/b4.jpg') }}" /></a>
                        </div>
                    </div>
                    <!-- second row of partners -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-2 col-xs-6">
                                <a href="#"><img class="footer-partners" src="{{ asset('img/partners/cwflogo.jpg') }}" /></a>
                            </div>
                            <div class="col-md-2 col-xs-6">
                                <a href="#"><img class="footer-partners" src="{{ asset('img/partners/diva.png') }}" /></a>
                            </div>
                            <div class="col-md-2 col-xs-6">
                                <a href="#"><img class="footer-partners" src="{{ asset('img/partners/parkwodny.jpg') }}" /></a>
                            </div>
                            <div class="col-md-2 col-xs-6">
                                <a href="#"><img class="footer-partners" src="{{ asset('img/partners/pik.png') }}" /></a>
                            </div>
                            <div class="col-md-2 col-xs-6">
                                <a href="#"><img class="footer-partners" src="{{ asset('img/partners/shakebake.png') }}" /></a>
                            </div>
                            <div class="col-md-2 col-xs-6">
                                <a href="#"><img class="footer-partners" src="{{ asset('img/partners/wedel.jpg') }}" /></a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-md-3">

            <a href="http://aiesec.pl/" target="_blank"><img class="footer-logo" src="img/powered-by-aiesec.png" />  </a>
        </div>
    </div>
</div>
{%  endblock %}
            {% block javascripts %}
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
            {% endblock %}
</body>
</html>