{% extends 'base.html.twig' %}

{% block title %}Partnerzy | Warsztaty językowe AIESEC University{% endblock %}

{% block body %}
        <div class="row">
            <div class="col-md-10 centered about fontcolor">
                <div class="logo text-center"></div>
                <br/>
                <h3 class="text-center"><strong>Nasi partnerzy</strong></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="row">
                    <div class="col-md-12">
                        <a href="http://www.soul.edu.pl/" target="_blank"><img style="max-height: 150px;" src="{{ asset('img/partners/logo-soul-white2.png') }}" />
                            <h3 class="fontcolor">Szkoła językowa SOUL</h3></a>
                        <hr />
                    </div>
                </div>
                <!-- middle partners column -->
                <div class="col-md-12">

                    <!-- first row of partners -->
                    <div class="row">
                        <div class="col-md-6">
                            <a href="#"><img class="partners-logo" src="{{ asset('img/partners/cinnabon.png') }}" /></a>
                        </div>
                        <div class="col-md-6">
                            <a href="#"><img class="partners-logo" src="{{ asset('img/partners/atlanticsports.png') }}" /></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <a href="#"><img class="partners-logo" src="{{ asset('img/partners/interbook.jpg') }}" /></a>
                        </div>
                        <div class="col-md-6">
                            <a href="#"><img class="partners-logo" src="{{ asset('img/partners/cukier.png') }}" /></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <a href="#"><img class="partners-logo" src="{{ asset('img/partners/dagrasso.png') }}" /></a>
                        </div>
                        <div class="col-md-6">
                            <a href="#"><img class="partners-logo" src="{{ asset('img/partners/b4.jpg') }}" /></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <a href="#"><img class="partners-logo" src="{{ asset('img/partners/cwflogo.jpg') }}" /></a>
                        </div>
                        <div class="col-md-6">
                            <a href="#"><img class="partners-logo" src="{{ asset('img/partners/diva.png') }}" /></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <a href="#"><img class="partners-logo" src="{{ asset('img/partners/parkwodny.jpg') }}" /></a>
                        </div>
                        <div class="col-md-6">
                            <a href="#"><img class="partners-logo" src="{{ asset('img/partners/pik.png') }}" /></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <a href="#"><img class="partners-logo" src="{{ asset('img/partners/shakebake.png') }}" /></a>
                        </div>
                        <div class="col-md-6">
                            <a href="#"><img class="partners-logo" src="{{ asset('img/partners/wedel.jpg') }}" /></a>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <a href="#"><img class="partners-logo" src="{{ asset('img/partners/placnowy.jpg') }}" /></a>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
            </div>

        </div>
{% endblock %}