{% extends 'base.html.twig' %}
{% block title %}Harmonogram | Warsztaty językowe AIESEC University{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <h2 class="text-center">Aktualny harmonogram zajęć</h2>
        </div>

        {% if city is defined %}
            <div class="row" id="schedule-menu-row">
                <div class="col-sm-5 col-sm-offset-1">
                    <h3>Wybierz miasto</h3>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default btn-city {% if city == 'krakow' %}active{% endif %}" value="krakow">Kraków</button>
                        <button type="button" class="btn btn-default btn-city {% if city == 'nowy_sacz' %}active{% endif %}" value="nowy_sacz">Nowy Sącz</button>
                    </div>
                </div>

                <!--Dropdown-->
                <div class="col-sm-5">
                        <h3>Wybierz język</h3>
                        <select class="form-control schedule-dropdown">
                            Dynamic generates options
                            {% for key, languageName in languagesNames%}
                                <option value="{{ key }}">{{ languageName }}</option>
                            {% endfor %}
                        </select>
                </div>
                <!--End Dropdown-->

            </div>
            <!--Schedule-->

            <div class="row schedule">
                {% for key, day in weekdays %}
                    <div class="{% if loop.first %}col-md-offset-1{% endif %} col-md-2 schedule-item">
                        <h4 class="text-center">{{ day }}</h4>
                        <div class="row">
                            {% for lesson in lessons|sort %}
                                {% if lesson.weekday == key %}
                                    <div class="col-md-12 schedule-lesson {{ lesson.languageClassName }} {{ lesson.levelName }}">
                                        <p><strong>{{ lesson.levelName }} gr. {{ lesson.group_number }}</strong></p>
                                        <p>{{ lesson.startHour }} - {{ lesson.stopHour }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="row">
                <h3>Wybierz miasto</h3>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default btn-city" value="krakow">Kraków</button>
                    <button type="button" class="btn btn-default btn-city" value="nowy_sacz">Nowy Sącz</button>
                </div>
            </div>
        {% endif %}

        {% if city is defined %}


            <!--End Schedule-->
        {% endif %}
    </div>
{% endblock%}