{% extends 'base.html.twig' %}
{% block title %}Zarejestruj się na warsztaty językowe AIESEC University{% endblock %}

{% block body %}
    {% set start = '2016-09-21'|date('Y-m-d') %}
    {% set today =  'now'|date('Y-m-d')%}
    {% if start <= today %}
    <div class="container" id="form">
        <h2>Zarejestruj się</h2>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="form-group">
            {{ form_label(form.city) }}
            {{ form_errors(form.city) }}
            {{ form_widget(form.city) }}
        </div>
        <div class="form-group">
            {{ form_label(form.first_name) }}
            {{ form_errors(form.first_name) }}
            {{ form_widget(form.first_name) }}
        </div>
        <div class="form-group">
            {{ form_label(form.last_name) }}
            {{ form_errors(form.last_name) }}
            {{ form_widget(form.last_name) }}
        </div>
        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
        </div>
        <div class="form-group">
            {{ form_label(form.phone) }}
            {{ form_errors(form.phone) }}
            {{ form_widget(form.phone) }}
        </div>
        <div class="form-group">
            {{ form_label(form.discount) }}
            {{ form_errors(form.discount) }}
            {{ form_widget(form.discount) }}
        </div>
        <div class="form-group">
            {{ form_label(form.language) }}
            {{ form_errors(form.language) }}
            {{ form_widget(form.language) }}
        </div>
        <div class="loader"></div>
            <div class="form-group" id="groups-choice">
                {{ form_label(form.group) }}
                {{ form_errors(form.group) }}
                {{ form_widget(form.group) }}
            </div>
        <div class="form-group">
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>

        {{ form_end(form) }}
    </div>
        {% else %}
        <div class="col-md-offset-1 col-md-10" style="text-align: center">
            <h1>Zapisy ruszają już {{ start|date('d.m') }}. Zapraszamy!</h1>
        </div>
        {% endif %}
{% endblock %}